{
  "extends": "standard",
  "plugins": [
    "chai-friendly"
  ],
  "rules": {
    "semi": [ 2, "always" ],
    "indent": [ 2, 2, {
      "SwitchCase": 0
    }],
    "space-before-function-paren": [ 2, {
      "anonymous": "always",
      "named": "never",
      "asyncArrow": "always"
    }],
    "no-unused-expressions": 0,
    "chai-friendly/no-unused-expressions": 2
  }
}
